@import "variables";

.footer {
  @include foreground;
  padding: $spacing;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: auto;
}

.navbar {
  width: 100%;
  display: flex;

  a {
    @include foreground;
    @include hover;
    padding: $spacing;
    text-align: center;
    flex: 1 1 auto;
  }
}

.pagination {
  display: flex;

  a, span {
    @include foreground;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: $spacing;
  }

  a:not(.active) {
    @include hover;
  }

  .active {
    background-color: $links;
    color: $dark;
  }

  span {
    @include muted;
  }
}

.content {
  width: min(100%, 24cm);
  display: flex;
  flex-direction: column;
  gap: $spacing;
  padding: $spacing;
  align-items: center;
}

.no-posts {
  @include foreground;
  padding: $spacing;
  font-size: 200%;
  width: 100%;
  text-align: center;
}
