@import "variables";

.footer {
  @include foreground;
  padding: $spacing;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: auto;
}

.navbar {
  @include foreground;
  width: 100%;
  display: flex;
  text-align: center;

  a {
    @include foreground;
    @include hover;
    padding: $spacing;
  }

  span {
    padding: $spacing;
  }
}

.pagination {
  display: flex;

  a {
    @include foreground;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: $spacing;
  }

  a:not(.active):not(.disabled) {
    @include hover;
  }

  .active {
    background-color: $links;
    color: $dark;
  }

  .disabled {
    @include muted;
    pointer-events: none;
    text-decoration: none;
  }
}

.content {
  max-width: 24cm;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $spacing;
  padding: $spacing;
  align-items: center;
}
