@import "variables";

.post-content {
  img {
    max-width: 100%;
  }

  .unbreakable {
    overflow-x: auto;
    overflow-y: visible;
    display: block;
    margin: 1em 0;

    table {
      width: max-content;
    }

    pre, mjx-container {
      margin: 0 !important;
    }
  }
}
