$dark: #212529;
$muted: #909294;
$links: #0080ff;
$spacing: 1rem;

@mixin hover {
  &:hover {
    filter: brightness(150%);
  }
}

@mixin foreground {
  background-color: $dark;
}

@mixin muted {
  color: $muted;
}
