$dark: #212529;
$muted: #909294;
$links: #ffff00;
$spacing: 1rem;

@mixin hover {
  &:hover {
    filter: brightness(200%);
  }
}

@mixin foreground {
  background-color: $dark;
}

@mixin muted {
  color: $muted;
}
