@import "variables";

.footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: auto;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

html {
  height: 100%;
}

.post-content {
  padding: 2rem;
  margin-bottom: 1rem;

  img {
    max-width: 100%;
  }

  > :last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.post-title {
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.navbar {
  margin-bottom: 1rem;
}

.post-preview {
  max-height: 300px;
  overflow: hidden;
  position: relative;

  .post-preview-shadow {
    position: absolute;
    bottom: 0;
    left: -300px;
    width: calc(100% + 600px);
    height: 600px;
    box-shadow: inset 0 0 60px black;
  }
}

.card {
  margin-bottom: 1rem;
}

.pagination {
  justify-content: center;
}
