{% extends "base.html" %}
{% block content %}

<div class="post-title">
  <h1>{{ title }}</h1>
  <span>{{ date }}</span>
</div>
<div class="post-wrapper">
  <div class="post-content">
    {{ document }}
  </div>
</div>

{% if disqus %}
<div class="post-comments">
  <noscript>Enable JavaScript to see Disqus comments!</noscript>
  <div id="disqus_thread"></div>
  <script>
    var disqus_config = function () {
      this.page.url = '{{ canonical }}';
      this.page.identifier = '{{ pid }}';
    }
    document.getElementById('disqus_thread').style.marginBottom = '-17px';
    document.getElementById('disqus_thread').style.marginTop = '-9px';
  </script>
  <script type="text/javascript" src="https://{{ disqus }}/embed.js"></script>
</div>
{% endif %}

{% endblock %}
